@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    overflow-x: hidden;
  }
}

/* Custom Rollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0072FF;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}
